/**/
#moreInfo
{
    overflow: none!important;
    padding: 0px!important;
}

/**/


body
{
    background: #fff!important;
}
/*----------------------Inicio Responsive del calendario de horarios------------------------*/
td
{
    background: #fff;
    height: 37px;
    font-size: 12px;
}

.medio
{
    text-align: center;
}

th
{
    text-align: center;
    width: 9%;
}

.hora
{
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}

h1
{
    color: #000;
}

@media screen and (max-width: 1200px){
    tr th
    {
        text-align: center;
    }

    .hora
    {
        text-align: center;
        font-size: .9em;
    }
}

@media screen and (max-width: 1000px){
    tr th
    {
        text-align: center;
    }

    .hora
    {
        text-align: center;
        font-size: .8em;
    }
}

@media screen and (max-width: 940px){
    .hora
    {
        text-align: center;
        font-size: .7em;
    }

    tr th
    {
        text-align: center;
    }
    span
    {
        display: none;
    }
}
/*----------------------Fin Responsive del calendario de horarios------------------------*/

/*----------------------inicio de foco en los formularios edificio y salon-----------------*/
input:focus
{
    outline-style: none;
}

select:focus
{
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset, rgb(123, 169, 208) 0px 0px 6px 0px;
}
/*----------------------fin de foco en los formularios edificio y salon-----------------*/

/*-----------inicio quita el padding derecho al select tipo de salon en el formulario insertar salon------------*/
#box_classroom_type
{
    padding-right: 0px;
}
/*-----------fin quita el padding derecho al select tipo de salon en el formulario insertar salon------------*/


/*INICIO*/
/*Al hacer click en cualquiera de las opciones del menu aparece un submenu(horario, edificio, salon, reportes). 
El siguiente codigo hace q el submenu sea del mismo ancho q el li padre*/
.dropdown-menu
{
    width: 100%;
}
/*FIN*/


/*Inicio estilos modal de configurar horarios*/
#modal 
{
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    color: #fff;
    left: -20%;
    height: 100%;
    width: 20%;
    transition: all 1s;
    float: left;
    overflow: auto;
}

#mostrar-modal 
{
    display: none;
}
#label-mostrar-modal {
    position: fixed;
    left: 0%;
    top: 50%;
    border-top: 20px solid transparent;
    border-left: 20px solid rgba(0, 0, 0, 0.9);
    border-bottom: 20px solid transparent;
    cursor:pointer;
}

#cerrar-modal 
{
    display: none;
}

#form_schedule
{
    margin: 1em;
}
/*Fin estilos modal de configurar horarios*/

/* inicio hace q e la pagina se ensanche o reduzca cuando se abre la modal*/
#box_schedule
{
    width: 100%;
    float: right;
}
/* Fin hace q e la pagina se ensanche o reduzca cuando se abre la modal*/