----------------------Inicio Responsive del calendario de horarios------------------------*/
td
{
    background: #fff;
    height: 37px;
    font-size: 12px;
}

.medio
{
    text-align: center;
}

th
{
    text-align: center;
    width: 9%;
}

.hora
{
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}

h1
{
    color: #000;
}

@media screen and (max-width: 1200px){
    tr th
    {
        text-align: center;
    }

    .hora
    {
        text-align: center;
        font-size: .9em;
    }
}

@media screen and (max-width: 1000px){
    tr th
    {
        text-align: center;
    }

    .hora
    {
        text-align: center;
        font-size: .8em;
    }
}

@media screen and (max-width: 940px){
    .hora
    {
        text-align: center;
        font-size: .7em;
    }

    tr th
    {
        text-align: center;
    }
    span
    {
        display: none;
    }
}
/*----------------------Fin Responsive del calendario de horarios------------------------*/

/*----------------------inicio de foco en los formularios edificio y salon-----------------*/
input:focus
{
    outline-style: none;
}

select:focus
{
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset, rgb(123, 169, 208) 0px 0px 6px 0px;
}
/*----------------------fin de foco en los formularios edificio y salon-----------------*/

/*-----------inicio quita el padding derecho al select tipo de salon en el formulario insertar salon------------*/
#box_classroom_type
{
    padding-right: 0px;
}
/*-----------fin quita el padding derecho al select tipo de salon en el formulario insertar salon------------